<div class="searchBar">
    <div class="container">
      <form action="/posts/search" method="GET" class="search__form" role="search">
        <input 
          type="search"
          aria-label="Search"
          id="searchInput"
          name="title"
          placeholder="Seach the site..."
        >
      </form>
      <div id="searchClose">Close</div>
    </div>
  </div>