<div class="author">
    <h1 class = "author__heading">Chao buoi sang.</h1>
    <p class = "author__body">cuu toi cuu toi cuu toi.</p>
</div>

<img src="/img/pan.png" alt="waifu wearing glasses" class = "waifu-image" width = "528" height = "528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>  
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>